 <!-- This footer should hidden by default and shown when there are todos -->
 <footer class="footer">
      <span class="todo-count"><strong>{{ pendientes }}</strong> pendientes</span>
      
      <ul class="filters">
        <li *ngFor="let filter of filters">
          <a [class.selected]="filter === currentFilter"
              (click)="setFilter(filter)"
          >{{ filter | titlecase }}</a>
        </li>
      </ul>
      
      <button class="clear-completed" (click)="clearCompleted()">Limpiar realizados</button>
    </footer>