<li [class.completed]="task?.completado"
    [class.editing]="editing">
      <div class="view">
        <input class="toggle" 
        *ngIf="chkCompletado"
        [formControl]="chkCompletado"
        type="checkbox" >

        <label (dblclick)="edit()">{{ task?.texto }}</label>
        <button class="destroy"></button>
      </div>
      <input class="edit"
              type="text"
              *ngIf="txtInput"
              [formControl]="txtInput"
              (blur)="endEdit()"
              #inputFisico
      >
    </li>